body {
    background-color: #0D1B2A;
    margin: 0;
    font-family: "Avenir", "Monserrat", sans-serif;
}

button {
    border: none;
    background-color: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    font-size: inherit;
    color: #778DA9;
    letter-spacing: 1px;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    color: #E0E1DD;
    background-color: #778DA9;
}

h1 {
    color: #E0E1DD;
    text-align: center;
    background-color: #778DA9;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
}

.selected {
 color: #E0E1DD;
 background-color: #778DA9;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 10%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#colorGuess {
    font-size: 200%;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

#stripe {
    background-color: #E0E1DD;
    height: 2em;
    text-align: center;
}

#message {
    display: inline-block;
    width: 20%;
}